includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - routes
        - resources/views

    level: 5
    checkModelRelations: true
    checkMissingIterableValueType: false
