parameters:
  level: 5

  paths:
    - app
    - routes
    - resources/views

  excludes_analyse:
    - vendor

  inferPrivatePropertyTypeFromConstructor: true

  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  checkUninitializedProperties: true
