includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  level: 5

  paths:
    - app
    - routes
    - resources/views

  # Optional: you can ignore some known non-critical errors
  ignoreErrors:
    - '#Relation .+ is not found in .+#'
